.skeleton {
  cursor: none;

  .skeleton-box {
    display: inline-block;
    height: 1em;
    position: relative;
    overflow: hidden;
    background-color: var(--secondary-bg);
    border-radius: 4px;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 20%,
        var(--nav-inactive) 60%,
        rgba(255, 255, 255, 0)
      );
      animation: shimmer 2s infinite;
      content: '';
    }
  }

  & .person-card-avatar {
    border-radius: 50%;
    height: 60px;
  }

  &:hover {
    transform: none;
    box-shadow: none;
  }

  .skeleton-title {
    width: 80%;
    height: 1.2rem;
    margin-bottom: 8px;
  }

  .skeleton-text {
    width: 100%;
    margin-bottom: 6px;
  }

  .skeleton-content {
    flex: 1;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
