.app {
  min-height: calc(100vh - 20px);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  margin: 10px;
  border-radius: $radius;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--surface);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.page {
  padding: 32px;
}
