.themeToggler {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  .switch {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: rgba(100, 100, 100, 0.5); // red; // var(--text-on-primary);
    border-radius: 15px;
    transition: background-color 0.3s;

    &::after {
      content: '';
      position: absolute;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: white;
      top: 2px;
      left: 2px;
      transition: transform 0.3s;
    }
  }

  &[data-theme='dark'] .switch {
    // background-color: var(--primary-color);

    &::after {
      transform: translateX(30px);
    }
  }

  .label {
    font-weight: 500;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    svg {
      transition: fill 0.3s;
      fill: currentColor;
    }
  }
}
