.link {
  color: var(--text-on-primary);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  transition: color 0.3s;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.active {
  // color: var(--nav-active);
  text-decoration: underline;
}
